nav {
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #d69920;
  color: #ffffff;
  font-family: "Bungee", cursive;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: fixed;
}
nav span {
  font-size: 32px;
}
.createTweet {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}
.newTweetLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.newTweetLabel i {
  margin-top: 12px;
}

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
}
@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
