.new-tweet {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}
textarea {
  border: none;
  border-bottom: 4px solid black;
  background-color: #f4f1ec;
  margin-bottom: 10px;
}

.actionBar {
  font-family: "Bungee", cursive;
  color: #55514a;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.btnTweet {
  background-color: #4151a2;
  color: white;
}
